<div>
  <button {{on "click" this.add}}>Add</button>
</div>
<div class="row">
  <div class="column">
    <div class="ella-container">
      <EllaTreadmill
        @content={{model}}
        @minColumnWidth="100%"
        @row="40" as |item|
      >
        <div {{on "click" (fn this.goto item.content)}}>
          {{item.nameFirst}}
          {{item.nameLast}}
          {{item.email}}
          {{item.twitter}}
          <br>
          {{#each item.phoneNumbers as |phoneNumber|}}
            {{phoneNumber.name}}
            {{phoneNumber.phoneNumber}}
          {{/each}}
        </div>
      </EllaTreadmill>
    </div>
  </div>
  <div class="column">
    {{outlet}}
  </div>
</div>